#custom-card-profile {
  background-color: rgba(16, 16, 16, 0.945);
  color: #a4a4a4;
  border-radius: 4%;
  margin: 5px auto;
  width: 40%;
}

.title-miappointments {
  color: #dadada;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  text-align: center;
  height: 50%;
  font-size: 60px;
  margin: 70px;
}
